{% extends './layout.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a class="btn btn-sm btn-outline-secondary" role="button" href="{{ url_for('settings.settings_roles_view') }}">
                <i data-feather="arrow-left" class="me-1" style="width: 16px; height: 16px;"></i>
                Back to List
            </a>
        </div>
    </div>

    <!-- start: USER UPDATE FORM -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <form class="form-signin" method="POST">
                {{ form.hidden_tag() }} <!-- security 'csrf' token -->
                <div class="row mb-4">
                    <!-- FORM -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{ form.name.label(class="form-label") }}
                            {% if form.name.errors %}
                                {{ form.name(class="form-control is-invalid", placeholder="Enter role name") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.name(class="form-control", placeholder="Enter role name") }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <hr class="my-4" />

                <!-- PERMISSIONS -->
                <div class="row">
                    <div class="col-lg-8">
                        <h4 class="mb-3">User Permissions</h4>
                        <div class="table-responsive">
                            <table class="table table-hover border">
                                <thead class="table-light">
                                    <tr>
                                        <th>Resource</th>
                                        <th class="text-center">View</th>
                                        <th class="text-center">Create</th>
                                        <th class="text-center">Update</th>
                                        <th class="text-center">Delete</th>
                                        <th class="text-center">Impersonate</th>
                                        <th class="text-center" style="min-width: 120px;">View All Clients<br><small class="text-muted">(Manager)</small></th>
                                        <th class="text-center" style="min-width: 120px;">View All Leads<br><small class="text-muted">(Manager)</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for permission in form.permissions %}
                                    <tr>
                                        {{ permission.form.hidden_tag() }}
                                        <th scope="row">{{ permission.form.name(class="fw-bold text-capitalize") }}</th>
                                        <td class="text-center">
                                            {{ permission.form.can_view(class="form-check-input") }}
                                        </td>
                                        <td class="text-center">
                                            {{ permission.form.can_create(class="form-check-input") }}
                                        </td>
                                        <td class="text-center">
                                            {{ permission.form.can_edit(class="form-check-input") }}
                                        </td>
                                        <td class="text-center">
                                            {{ permission.form.can_delete(class="form-check-input") }}
                                        </td>
                                        <td class="text-center">
                                            {% if permission.form.can_impersonate %}
                                                {{ permission.form.can_impersonate(class="form-check-input") }}
                                            {% else %}
                                                <input type="checkbox" class="form-check-input" disabled>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if permission.form.can_view_all_clients %}
                                                {{ permission.form.can_view_all_clients(class="form-check-input") }}
                                            {% else %}
                                                <input type="checkbox" class="form-check-input" disabled>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if permission.form.can_view_all_leads %}
                                                {{ permission.form.can_view_all_leads(class="form-check-input") }}
                                            {% else %}
                                                <input type="checkbox" class="form-check-input" disabled>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
